.navbar-bg {
    background-color: #e69c24 !important;
}

.cases400 {
    fill: #E6A480;
}

.cases600 {
    fill: #E6904C;
}

.cases800 {
    fill: #E6805B;
}

.cases1000 {
    fill: #E6604B;
}

.cases1200 {
    fill: #E6494C;
}

.cases1400 {
    fill: #E62129;
}

#labTestsGraph {
    height: 320px;
    margin-left: 20px;
}

.backgroundColor {
    background-color: #343a40 !important;
}

.reset {
    position: absolute;
    top: 300px;
    right: 350px;
    background-color: dimgray;
    color:white;
    border: none;
    border-radius: 12px;
}

