.navbar-bg {
    background-color: #86B3D1 !important;
    /*#4f5d75 opcija1:#5AB9EA  #84CEEB*/
}
.cases50 {
    fill: #fee0d2;
}

.cases100 {
    fill: #fcbba1;
}

.cases200 {
    fill: #fc9272;
}

.cases400 {
    fill: #fb6a4a;
}

.cases800 {
    fill: #ef3b2c;
}

.cases1200 {
    fill: #cb181d;
}

.cases1600 {
    fill: #a50f15;
}

.cases2200 {
    fill: #67000d;
}

.cases2300 {
    fill: #480009;
}

#animation {
    height: 320px;
    margin-left: 20px;
}

.backgroundColor {
    background-color:#e7f0f6;
    /*#2d3142m, opcija1:#84CEEB #D2FDFF*/
    /*#1b1501 !important*/
}

.bg-map {
    background-color: #86B3D1 !important;
    /*prejsn: #e0e0e0*/
}

.reset {
    position: absolute;
    top: 609px;
    right: 130px;
    /*background-color: dimgray;*/
    /*color:white;*/
    /*border: none;*/
    /*border-radius: 12px;*/
}

.reset2 {
    position: absolute;
    top: 270px;
    right: 150px;
    background-color: dimgray;
    color:white;
    border: none;
    border-radius: 12px;
}

.border-radius {
    border-radius: 12px;
}

