.navbar-bg {
    background-color: #4f5d75 !important;
}
.cases50 {
    fill: #fff5f0;
}

.cases100 {
    fill: #fee0d2;
}

.cases200 {
    fill: #fcbba1;
}

.cases400 {
    fill: #fc9272;
}

.cases800 {
    fill: #fb6a4a;
}

.cases1200 {
    fill: #ef3b2c;
}

.cases1600 {
    fill: #cb181d;
}

.cases2200 {
    fill: #a50f15;
}

.cases2300 {
    fill: #67000d;
}

#animation {
    height: 320px;
    margin-left: 20px;
}

.backgroundColor {
    background-color:#2d3142;
    /*#1b1501 !important*/
}

.bg-map {
    background-color: #e0e0e0 !important;
}

.reset {
    position: absolute;
    top: 335px;
    right: 350px;
    background-color: dimgray;
    color:white;
    border: none;
    border-radius: 12px;
}

.reset2 {
    position: absolute;
    top: 270px;
    right: 150px;
    background-color: dimgray;
    color:white;
    border: none;
    border-radius: 12px;
}

.border-radius {
    border-radius: 12px;
}

